<div id="login-container">
    <div id="login-main-container">
        <p id="login-logo">MyFileStorage</p>
        <p id="login-header">Login</p>
        <div id="login-form-container">
        <p id="form-headers">Username/Email:</p>
        <input id="form-input" type="text" placeholder="Enter email"/>
        <p id="form-headers">Password:</p>
        <input type="password" id="form-input" placeholder="Enter password" >
        <button id="form-submit">
            <p id="form-submit-text">sign in</p>
        </button>
        <p id="forgot-password">Forgot password?</p>
        <p id="forgot-password">Dont have an account, register as a new user?</p>
        
        
    </div>
</div>